@using DyndleWebApp.Models.Entities
@using DD4T.ContentModel
  

@model TeaserCollectionViewModel

@if (Model.Teasers != null && Model.Teasers.Any())
{
    foreach (var teaser in Model.Teasers)
    {
        <div class="teaser">
            <h3>@teaser.heading</h3>
            @if (teaser.Link != null)
            {
                <a href="@teaser.Link.ExternalLink">@teaser.Link.LinkText</a>
            }
        </div>
    }
}
