@using Dyndle.Modules.Core.Models
@using Dyndle.Modules.Core.Html
@inherits System.Web.Mvc.WebViewPage<Dyndle.Modules.Core.Models.IRegionModel>

@{ 
    var model = Model;
}
  
<div @Html.RegionMarkup()>
 
    @foreach (var entity in Model.Entities ?? new List<IEntityModel>())
    {
        @Html.RenderEntity(entity)
    }

</div>